@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  src: url("/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  src: url("/assets/fonts/Poppins-Italic.ttf") format("truetype");
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  font-size: 64px;
  font-weight: 800;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  padding: 50px;
  border-radius: 15px;
}

.line {
  background-color: hsl(0, 0%, 86%);
  height: 1px;
  min-width: 600px;
}

input {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 15px;
}

input[type="number"] {
  height: 60px;
  width: 140px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 10px;
  width: 300px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.form-conatiner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: small;
  font-weight: bold;
  color: hsl(0, 1%, 44%);
}

.line-and-arrow {
  display: flex;
  align-items: center;
}

.arrow {
  background-color: hsl(259, 100%, 65%);
  border-radius: 100%;
  padding: 20px;
  border: none;
}

.highlight {
  color: hsl(259, 100%, 65%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
